@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;

.upload-section {
    border-top: 1px solid $secondarydark; padding-bottom: 0.5rem; padding-left: 0rem;

    &__form {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-weight: 700;
        margin-left: 1rem; 
    }

    &__thumbnail {
        width: 15rem;
        height: 18rem;
        object-fit: cover;
        border-radius: 4px;
        margin-left: 1rem;
    }

    &__label {
        @include sectiontitlestyles;
        margin-top: 1rem;
    }

    &__input {
        @include inputstyles;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    &__description {

        &--input {
            @include inputstyles;
            margin-right: 1rem;
            margin-left: 1rem;
            height: 3.5rem;
        }
    }

    &__submitbuttons {
        
        @include tablet {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &__publish {
        @include submitstyles;
        background-color: $primarybrainlight;
        color: $primarylight;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 9.8rem;
        padding-right: 9.8rem;
        background-image: url(../../assets/icons/publish.svg);
        background-repeat: no-repeat;
        background-position: 30%;
        background-position: left;

        @include tablet {
            padding-left: 5rem;
            padding-right: 5rem;
        }

    }
    &__publish:hover {
        background-color: $secondarybrainlight;
    }

    &__cancel {
        @include submitstyles;
        background-color: $primarylight;
        color: $primarybrainlight;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 9.4rem;
        padding-right: 9.4rem;

        @include tablet {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }
}