@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;

.video-list {

    &__nextvideo {
        padding-left: 1rem;

        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
            position: absolute;
            right: 5rem;
        }
    }

    &__title {
        color: $primarydark;
        padding-left: 1rem;
        font-size: 1rem;

        @include tablet {
            margin-left: 2rem;
        }
    }
}