@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

@mixin tablet {
    @media (min-width: $tablet){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin flexcentercolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@mixin iconpositions {
    position: absolute;
    z-index: 1;
    height: 5vh;
}

@mixin brainflixpadding {
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin buttonstyles {
    background-color: $primarybrainlight;
    color: $primarylight;
    font-size: 0.75rem;
    font-weight: 700;
    border: none;
}

@mixin sectiontitlestyles {
    color: $primarydark;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

@mixin inputstyles {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 8rem;
    border-radius: 4px;
    border-color: $secondarydark;
}

@mixin submitstyles {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $primarybrainlight;
    color: $primarylight;
    font-size: 0.75rem;
    font-weight: 700;
    border: none;
    border-radius: 4px;
}