$primarybraindark: #323232;
$primarybrainlight: #0095FF;
$primarydark: #AFAFAF;
$primarylight: #FFFFFF;

$secondarybraindark: #000000;
$secondarybrainlight: #0065AD;
$secondarydark: #E1E1E1;
$secondarylight: #FAFAFA;