@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;


.primary-video {
    
    @include desktop {
        width: 95vw;
        margin-right: 0;
    }

    &__video {
        object-fit: contain;
        width: 100vw;
        background-image: url(../../assets/icons/play.svg);

        @include tablet {
            width: 84.9vw;
            border-right: 3rem solid $secondarybraindark; 
            border-left: 3rem solid $secondarybraindark; 
        }

        @include desktop {
            width: 75.5vw;
            border-right: 8rem solid $secondarybraindark; 
            border-left: 8rem solid $secondarybraindark; 
            }


    }

    &__title {
        padding-left: 1rem;

        @include tablet {
            font-size: 2rem;
            padding-left: 2rem;
            margin-bottom: 0;

            @include desktop {
                font-size: 3rem;
                padding-left: 4rem;
                margin-bottom: 0;
                margin-right: 14rem;
            }
        }

    }

    &__description {
        @include brainflixpadding;

        @include tablet {
            padding-left: 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin-top: 0;
            margin-right: 2rem;
            font-size: 1rem;
        }

        @include desktop {
            margin-left: 2rem;
            margin-right: 14rem;
        }
    }

    &__duration {
        position: relative;
        font-size: 0.7rem;
        top: 11.5rem;
        left: 16rem;

        @include tablet {
            top: 23.7rem;
            left: 37rem;
        }
    }

    &__metrics {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
        margin-left: 1rem;
        border-bottom: 0.5px solid $secondarydark; padding-bottom: 0.5rem; padding-left: 0rem;
        border-top: 0.5px solid $secondarydark; padding-bottom: 0.5rem; padding-left: 0rem;

        @include tablet {
            border-top: none;
            padding-top: 0;
            margin-top: 0;
        }

        @include desktop {
            margin-left: 3rem;
            width: 77%;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include brainflixpadding;
        padding-right: 9rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            
        }

        &-date {
            color: $primarydark;

            @include tablet {
                padding-left: 2rem;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include tablet {
            display: flex;
            flex-direction: row;
        }
        
        &-views,
        &-likes {
            color: $primarydark;
            margin-left: 1rem;
        }
    }
    &__reachability,
    &__likeability {
        display: flex;
        flex-direction: row;
        }
    &__likeability {
        @include tablet {
        margin-left: 1rem;
        }
    }

    &__reachability {
        @include desktop {
            margin-left: 24rem;
        }
    }
    &__icons {
        display: flex;
        flex-direction: row;
        z-index: 1;
        position: absolute;
        height: 1rem;
        color: $primarylight;


    &--playicon {
        position: absolute;
        left: 1rem;
        top: 12rem;
        background-color: $secondarybraindark;
        opacity: 0.5;
        padding: 4px 1rem 4px 1rem;
        border-radius: 4px;

        @include tablet {
            top: 20.5rem;
            left: 3.5rem;
        }

        @include desktop {
            top: 31rem;
            left: 9rem;
        }
    }

    &--scrubicon {
        position: absolute;
        left: 4rem;
        top: 12rem;
        background-color: $secondarybraindark;
        opacity: 0.5;
        width: 1rem;
        padding: 0.5rem 7rem 0.5rem 8rem;
        border-radius: 4px;

        @include tablet {
            top: 20.5rem;
            left: 7rem;
            padding: 2px 17rem 0.5rem 14rem;
        }
        @include desktop {
            top: 31rem;
            left: 12rem;
            padding: 2px 33rem 0.5rem 14rem;
        }
    }

    &--screenadjicon {
        position: absolute;
        left: 22rem;
        top: 12rem;
        background-color: $secondarybraindark;
        opacity: 0.5;
        z-index: 3;
        padding: 2px 0.5rem 0.5rem 0.5rem;
        border-radius: 4px;
        height: 1rem;

        @include tablet {
            top: 20.5rem;
            left: 39.3rem;
        }
        @include desktop {
            top: 31rem;
            left: 62rem;
        }
    }

    &--volumeupicon {
        position: absolute;
        left: 20rem;
        top: 12rem;
        background-color: $secondarybraindark;
        opacity: 0.5;
        z-index: 1;
        padding: 2px 0.5rem 0.5rem 0.5rem;
        border-radius: 4px;
        height: 1rem;

        @include tablet {
            top: 20.5rem;
            left: 41.5rem;
        }
        @include desktop {
            top: 31rem;
            left: 65rem;
        }
    }

}
}