@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;

.video-list {

    @include desktop {
        display: inline-block;
        border-left: 1px solid $secondarydark; padding-bottom: 0.5rem; padding-left: 0rem;
    }
    &__nextvideo {
        padding-left: 1rem;

        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
            position: absolute;
            right: 5rem;
            top: 48rem;
            left: 50rem;
        }
    }

    &__title {
        color: $primarydark;
        padding-left: 1rem;
        font-size: 1rem;

        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
           position: absolute;
           right: 20rem;
           top: 45rem;

        
        }
    }

    &__item {
        @include desktop {
            margin-bottom: 1.6rem;
        }
    }
}