@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;

.primary-nav {
    @include flexcentercolumn;
    padding: 1rem;

    @include tablet {
        @include flexrow;
        height: 8vh;
    }

    @include desktop {
        @include flexrow;
        justify-items: center;
        margin-right: 0;
    }

    // BrainFlix Logo
    &__logo {
        display: flex;
        justify-content: center;
        background-color: $primarylight;
        padding-bottom: 1rem;
        margin-right: 5rem;
        margin-left: 5rem;

        @include tablet {
          padding-right: 0;
          margin-left: 0rem;
          margin-top: 0.5rem;
        }

        @include desktop {
            width: 11rem;
            margin-top: 2rem;
        }
    }

    &__searchandupload {
        @include flexcentercolumn;
        border: none;

        @include tablet {
            @include flexrow;
            align-items: center;
        }

        @include desktop {
            margin-left: 24rem;
        }
    }

    &__searchbar {
        display: flex;
        justify-content: baseline;
    }

    &__search {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 8rem;
        border-radius: 4px;
        margin-right: 2rem;
        border-color: $secondarydark;
        background-color: $secondarylight;
        background-image: url(../../assets/icons/search.svg);
        @include bkgdimage;

        @include tablet {
            height: 0.5rem;
            width: 4rem;
            margin-right: 1rem;
        }

        &--avatar {
            border-radius: 50%;
            position: relative;
            max-width: 3rem;
            max-height: 3rem;
        }
    }

    &__upload {
        @include submitstyles;
        padding-left: 9.4rem;
        padding-right: 9.4rem;
        background-image: url(../../assets/icons/upload.svg);
        @include bkgdimage;

        @include tablet {
            width: 1rem;
            height: 2.8rem;
            padding-left: 6rem;
            padding-right: 7rem;
            margin-left: 2rem;
        }
    }

    &__upload:hover {
        background-color: $secondarybrainlight;
    }
}

input::placeholder {
    padding-left: 1rem;
}