@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;

.primary-nav {
    @include flexcentercolumn;
    padding: 1rem;

    @include tablet {
        display: flex;
        flex-direction: row;
        height: 8vh;
        width: 98%;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 94vw;
        margin-right: 0;
    }

    // BrainFlix Logo
    &__logo {
        display: flex;
        justify-content: center;
        background-color: $primarylight;
        padding-bottom: 1rem;
        margin-right: 5rem;
        margin-left: 5rem;

        @include tablet {
          position: relative;
          right: 7rem;
          padding: 0;
          margin: 1rem 2rem 1rem 0rem;
          height: 2rem;
          width: 7rem;
        }

        @include desktop {
            right: 8rem;
            width: 11rem;
            top: 1rem;
        }
    }

    &__searchandupload {
        @include flexcentercolumn;
        border: none;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline
        }

        @include desktop {
            margin-left: 24rem;
        }
    }

    &__searchbar {
        display: flex;
        justify-content: baseline;
    }

    &__search {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 8rem;
        border-radius: 4px;
        margin-right: 2rem;
        border-color: $secondarydark;
        background-color: $secondarylight;
        background-image: url(../../assets/icons/search.svg);
        background-repeat: no-repeat;
        background-position: 30%;
        background-position: left;

        @include tablet {
            height: 0.5rem;
            width: 12rem;
            margin-right: 1rem;
        }

        &--avatar {
            border-radius: 50%;
            position: relative;
            max-width: 3rem;
            max-height: 3rem;
        }
    }

    &__upload {
        @include submitstyles;
        padding-left: 9.4rem;
        padding-right: 9.4rem;
        background-image: url(../../assets/icons/upload.svg);
        background-repeat: no-repeat;
        background-position: 30%;
        background-position: left;

        @include tablet {
            width: 10rem;
            height: 2.8rem;
        }
    }

    &__upload:hover {
        background-color: $secondarybrainlight;
    }
}

input::placeholder {
    padding-left: 1rem;
}