@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;

.video-comments {
    @include brainflixpadding;

    @include tablet {
        margin-left: 1rem;
        margin-right: 0;
    }
    @include desktop {
        margin-left: 2rem;
    }

    &__counter {
        font-weight: 700;

        @include tablet {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0rem;
            padding-left: 0;
        }

        @include desktop {
            margin-left: 2rem;
        }
    }

    &__form {

        @include tablet {
            height: 5rem;
        }
    }

    &__label {
        @include sectiontitlestyles;
        margin-left: 2.5rem;
    }

    &__inputava {
        display: flex;
        flex-direction: row;
    }

    &__avatar {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        left: 1rem;
        top: 4rem;
        width: 2.5rem;
        height: 5vh;
        margin-right: 1rem;
    }

    &__submit {
        @include buttonstyles;
        width: 18.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 3.5rem;
        border-radius: 4px;
        font-size: 0.75rem;
        margin-top: 1rem;
        background-image: url(../../assets/icons/add_comment.svg);
        background-repeat: no-repeat;
        background-position: 30%;
        background-position: left;

        @include tablet {
            position: relative;
            height: 2.5rem;
            width: 10rem;
            margin-left: 2rem;
            left: 33rem;
            bottom: 3.7rem;
        }

        @include desktop {
            width: 11rem;
            bottom: 4.5rem;
        }
    }
    
    &__submit:hover {
        background-color: $secondarybrainlight;
    }

    &__input {
        height: 6rem;
        width: 18rem;
        border-radius: 4px;
        box-shadow: none;
        border-color: $secondarylight;

        @include tablet {
            height: 2.3rem;
            width: 30rem;
        }

        @include desktop {
            width: 30rem;
        }
    }
    &__input:focus {
        outline: none;
    }

    &__input:active {
        border-color: $secondarybrainlight;
    }
}