@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;

.video-comments {
    @include brainflixpadding;

    @include tablet {
        margin-left: 2rem;
        margin-right: 0;
    }
    @include desktop {
        margin-left: 2rem;
    }

    &__counter {
        font-weight: 700;

        @include tablet {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0rem;
            padding-left: 0;
        }

        @include desktop {
            margin-left: 2rem;
        }
    }

    &__label {
        @include sectiontitlestyles;
    }

    &__form,
    &__item {
        position: relative; left: 5rem;
    }

    &__item {
        width: 18rem;
    }

    &__avatar {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        left: 1rem;
        top: 4rem;
        width: 2.5rem;
        height: 5vh;

        &--logo {
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            right: 4rem;
            top: 4rem;
            width: 2.5rem;
            height: 5vh;
        }
    }

    &__submit {
        @include buttonstyles;
        width: 18.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 4px;
        font-size: 0.75rem;
        margin-top: 1rem;
        right: 5rem;
        background-image: url(../../assets/icons/add_comment.svg);
        background-repeat: no-repeat;
        background-position: 30%;
        background-position: left;

        @include tablet {
            height: 2.5rem;
            width: 8rem;
            margin-left: 2rem;
        }

        @include desktop {
            width: 11rem;
        }
    }
    
    &__submit:hover {
        background-color: $secondarybrainlight;
    }

    &__input {
        height: 6rem;
        width: 18rem;
        border-radius: 4px;
        box-shadow: none;
        border-color: $secondarylight;

        @include tablet {
            height: 2.3rem;
            width: 26rem;
        }

        @include desktop {
            width: 40rem;
        }
    }
    &__input:focus {
        outline: none;
    }

    &__input:active {
        border-color: $secondarybrainlight;
    }

    &__list {
        @include brainflixpadding;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__date {
        color: $primarydark;
    }

    &__item {
        border-bottom: 0.5px solid $secondarydark; padding-bottom: 0.5rem; padding-left: 0rem;
        border-top: 0.5px solid $secondarydark; padding-bottom: 0.5rem; padding-left: 0rem;
        
        @include tablet {
            width: 80%;
        }

        @include desktop {
            width: 75.5vw;
            margin-left: 2rem;
        }
    }


    &__nextcomment {
        padding-left: 0;
    }
}