@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use '../../styles/partials/global' as *;

.video-list {
    width: 100vw;

    @include tablet {
        width: 70vw;
    }

    // &__item {
    //     display: flex;
    //     flex-direction: row;
    //     width: 100vw;

    // }

    &__info {
        // display: flex;
        // justify-content: flex-end;
        // justify-content: space-around;
        // flex-direction: column;
        list-style: none;
        padding-left: 1rem;
        width: 7rem;
        text-decoration: none;

        @include tablet {
            width: 13rem;
        }
    }

    &__image {
        object-fit: cover;
        width: 7rem;
        height: 5rem;
        width: 40vw;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 4px;

        @include tablet {
            width: 11.5rem;
        }
    
    }

    &__detail {
        color: $primarybraindark;
        text-decoration: none;
       
    }

    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        
        
    }
}